$primary-color-dark: #303F9F;
$primary-color: #000;
$pr-color: '474a51';
$primary-color-light: #C5CaE9;
$primary-color-text: #ffffff;
$accent-color: #3973d8;
$primary-text-color: #212121;
$secondary-text-color: #777575;
$divider-color: #474a51;
$divider-text-color: #29292b;

@mixin background-img($src) {
  background-image: url($src);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin gradient-bg($color1, $color2, $color3) {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(30deg, $color1 0%, 
  $color2 50%, $color3 100%);
  opacity: .6;
}
@mixin input-color($placeholder-color) {
  &::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  &:-moz-input-placeholder {
    color: $placeholder-color;
  }
  &:-ms-input-placeholder {
    color: $placeholder-color;
  }
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  background-color: $divider-color;
  color: $secondary-text-color;
 
  // Фикс контейнера
  .container {
    padding: 0;
  }
  //Заголовок
  .title {
    overflow: hidden;
    text-align: center;
    h4 {
      font-weight: bold;
      color: $secondary-text-color;
      margin: 2rem 0;
      padding: 2rem;
      font-size: 1.5em;
      display: inline-block;
      vertical-align: middle;
    }
    &:before,
    &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20%;
      height: 0.3rem;
      background-color: $primary-color;
      position: relative;
      opacity: .5;
    }
    &:before {
      margin-left: -100%;
      left: 1.5rem;
    }
    &:after {
      margin-right: -100%;
      right: 1.5rem;
    }
  }
  //Кнопки
  .btn {
    border: 2px solid $primary-color;
    background-color: transparent;
    color: $divider-color;
    font-size: 1em;
    padding: 1rem 1rem;
    transition: all 0.2s;
    &:hover {
      background-color: $secondary-text-color;
      color: $primary-color-text;
    }
  }
  .btn-inverse {
    border: 2px solid $primary-color;
    background-color: $divider-color;
    color: $primary-color-text;
    font-size: 1em;
    padding: 1rem 1rem;
    margin-top: 6rem;
    transition: all 0.2s;
    &:hover {
      color:$divider-color;
      background-color: transparent;
    }
  }
  .btn-ac {
    border: 2px solid $primary-color-text;
    background-color: transparent;
    color: $primary-color-text;
    font-size: 1em;
    padding: 1rem 1rem;
    margin-top: 1em;
    transition: all 0.2s;
    &:hover {
      background-color: $secondary-text-color;
      color: $primary-color-text;
  }
}

  //меню
  .navbar {
    padding: 0.3rem 5rem;
    /*border: 2px solid $primary-text-color;*/

    .number-phone {
      color: $primary-text-color;
    }

    .navbar-nav {

      li.nav-item>a.nav-link {
        color: $primary-color;

        &:hover {
          color: $secondary-text-color;
        }
      }

      li.active>a.nav-link {
        color: $primary-color;
      }
    }
  }

  //Шапка
  header {
    @include background-img('../img/303.png');
    padding: 23rem 0rem 22rem 15rem;
    p {
      color: $divider-text-color;
    }
    h4 {
      font-size: 20px;
      font-weight: bold;
      color: $divider-text-color;
      >span {
        color: $primary-text-color;
      }
    }

    form {
      border: double 1rem $primary-color-text;
      div {
        background-color: rgba($primary-color-text, 0.95);
        padding: 1.5rem;
      }
      span {
        color: $primary-color;
        font-weight: bold;
        font-size: 1em;
      }
      input {
        width: 100%;
        padding: 1rem;
        background-color: transparent;
        border: 2px solid $primary-color;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        @include input-color($primary-color);
      }
    }
  }

  //Популярные категории
  .popcat {
    @include background-img('../img/background.jpg');
    padding-bottom: 3rem;
    a {
      display: flex;
      padding: 0px 10px 50px 0px;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      p {
        padding: 0;
        margin: 0;
        font-weight: bold;
        color: $primary-text-color;
        text-shadow: 0 0 3px $primary-color-light;
        position: absolute;
        font-size: 1.2em;
        z-index: 100;
        transition: all 1s;
      }
      img {
        transition: all 0.5s;
      }
      &:hover {
        img {
          background-color: $divider-color;
          transform: scale(1.1);
        }
        p {
          transform: scale(0.9);
        }
      }
    }
  }
  //Преимущества
  .adv {
    color: $primary-color-text;
    @include background-img('../img/136.png');
    position: relative;
    &:before {
      @include gradient-bg($primary-color-dark, $primary-color, $primary-color-text);
    }
    .row {
      padding: 3rem 0;
    }
    h6 {
      margin: 1rem 0;
      font-weight: bold;
      font-size: 1em;
    }
    p {
      font-size: 0.8em;
      padding: 0px 40px 0px 40px;
    }
  }
  //Популярные товары
  .popgoods {
    @include background-img('../img/background.jpg');
    .row {
      padding-bottom: 3rem;
    }
    .row:first-child {
      padding-bottom: 0;
    }
    h6 {
      padding-top: 1rem;
      font-size: 1.2em;
    }
  }

  //Заказать замер
  .form_zamer {
    position: relative;
    @include background-img('../img/9.png');
    /*&:before {
      @include gradient-bg($accent-color, $secondary-text-color, $primary-color-dark);
    }*/
    .row {
      padding: 3rem 0;
    }
    h5, h6 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.8em;
    }
    img {
      margin-bottom: 1.5rem;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
    input {
      /*width: 100%;*/
      padding: 1rem 1rem!important;
      background: transparent;
      border: 2px solid $primary-color-text;
      margin-top: 1rem;
      margin-bottom: 1rem;
      @include input-color($primary-color-text);
      &:hover {
        background-color: $secondary-text-color;
        color: $primary-color-text;
      }
    }
    button {
      color: $primary-color-text;
      border: 2px solid $primary-color-text;
      padding: 1rem;
    }
  
  //Отзывы
  .reviews {
    @include background-img('../img/background.jpg');
    padding-bottom: 5rem;
    .card {
      height: 100%;
      h5 {
        font-size: 1em;
        color: $primary-color;
      }
    }
    .carousel-control-prev-icon {
      background-image:  url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$pr-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$pr-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
  }
}
  //Футер
  footer {
    color: $primary-color;
    menu {
      a.active {
        text-decoration: none;
        color: $primary-color;
      }
      a {
        color: $primary-color !important; 
        text-decoration: none;
        &:hover { 
          color: $secondary-text-color !important;
        }
      }
    }
    p {
      span {
        color: $primary-color;
      }
    }
  }

@import 'media';







